body{
    background-color:grey;
    background-size: 100%;
}
.navbar-brand{
    align: center;
    margin-left: 500px
   
}
.list{
    margin-left: 520px;

    padding: 5px
}
.div1{
    float: left;
    background-color: blue;
    margin-left: 5rem;
    width: 20%;
    height: 300px;
}
.div2{
    float: right;
  
    background-color: blueviolet;
    width: 20%;
    height: 300px;
}
.div2 img{
    margin-left:5rem;
    margin-top:2rem;
}
.footer{
    
    background-color:burlywood;
    text-align: center;
    font-size:40px;
    width: 100%;
    margin-left: 0;
    position: relative;
    height:15%;
}
.table{
    
    font-size: 20px;
}
.size img{
width: 50px;
}
.sizes img{
    width: 130px;
}
h2{
    text-align: center;
}