body{
    background-color:grey;
}
.header{
    background-color:burlywood;
    text-align: center;
    width: 100%;
    margin-left:0;
    height: 50px;
    margin-bottom: 3rem;
}
.div1{
    float: left;
    background-color: blue;
    margin-left: 7rem;
    width: 25%;
}
.div2{
    float: right;
    margin-right: 17rem;
    background-color: blueviolet;
    width: 30%;
    height: 300px;;
}
.div2 img{
    margin-left: 9rem;
}
.footer{
    margin-top:25rem;
    background-color:burlywood;
    text-align: center;
    font-size:40px;
    width: 100%;
    margin-left: 0;
}
.table{
    width: 37px;
    font-size: 20px;
}
.size img{
width: 50px;
}
.sizes img{
    width: 130px;
}
td a{
    color:black;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    border-collapse: separate;
    border-spacing: 2px;
    width:50%;
}
h2{
    text-align: center;
}